    @import url(https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap);

:root {

    --cor-primaria: #43766C;
    --cor-secundaria: #F8FAE5;
    --cor-tercearia: #76453B;
    --cor-quartearia: #B19470;
    --cor-quintearia: #191919;

    --fonte-primaria: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--cor-quintearia); 
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 100%;

}

body {
    
   
   box-sizing: border-box;
   width: 100%;
   background: transparent; 
   color: var(--cor-secundaria);
}

.logoAlura {
    margin-top: 22px;
    margin-left: 5px;
    padding-top: 5x;
    width: 10%;
}

.conteudo {
    margin: 5% 5%;
    padding: 1% 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* gap: 80px;
    margin-bottom: 50px;
    margin-left: 90px;
    width: 100%; */
}

.conteudo__inicial {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 24px;
    margin-left: 30px;
    margin-right: 10px;
    resize: none;
    padding: 30px;
    align-items: center;
}

.text-area {
    border: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 30px;
    text-transform: lowercase;
    outline: none;
    resize: none;
    line-height: 1.25;
    letter-spacing: 1px;
    width: 100%;
}

::placeholder { color: var(--cor-secundaria); }
    .text-area:focus {
        outline: none;
}

.informacao {
    /* top: 851px;
    left: 240px;
    gap: 8px; */
    display: contents;
}

.informacao__aviso {
    width: 100%;
    height: 18px;
    opacity: 0.8px;
    font-family: var(--fonte-primaria);
    font-size: 0.55rem;
    font-weight: 400;
    line-height: 18px;
    text-align: left;
    color: var(--cor-secundaria);
}

.botoes {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-top: 10px;
}

.btn-encriptar {
background-color: var(--cor-secundaria);
border: 1px solid var(--cor-tercearia);
border-radius: 20px;
color: var(--cor-primaria);
font-size: 1.5rem;
font-weight: 600;
height: 67px;
width: 100%;
cursor: pointer;
}

.btn-desencriptar {
background-color: var(--cor-primaria);
border: 1px solid var(--cor-tercearia);
border-radius: 20px;
color: var(--cor-secundaria);
font-size: 1.5rem;
font-weight: 600;
height: 67px;
width: 100%;
margin-left: 30px;
margin-right: 30px;
cursor: pointer;
}

.conteudo__resposta {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--cor-quartearia);
    background-image: url(/assets/detetive-holmes.svg);
    background-repeat: no-repeat;
    
    border: none;
    border-radius: 24px;
    color: var(--cor-secundaria);
    margin-left: 30px;
    margin-top: 20px;
    padding: 30px;
    align-items: center;
    resize: none;

/* gap: 70px; */
}

.conteudo__resposta:focus {
    outline: none;
}

.mensagem {   
    height:10%;
    width: 100%;
    border: none;
    background: none;
    outline: none;
    resize: none;  
    font-size: 1.25rem;
    font-family: var(--fonte-primaria);
    font-weight: 400;
    border-radius: 24px;
    color: var(--cor-quintearia);
    text-align: center;
    margin-top: 25px;
    padding: 30px;
    text-transform: lowercase;
}

.mensagem:focus {
        outline: nome;
}

.conteudo__resposta__titulo {
    margin: 0% 0% 0% 0%;
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-align: center;
    width: 100%;
}

.conteudo__resposta__titulo__texto {
    margin: 0% 0% 0% 0%;
    font-family: var(--fonte-primaria);
    color: var(--cor-secundaria);
    font-size: 0.8rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
}

.copy {
    display: flex;
    margin-top: 10px;
}

.btn__copiar {
    background-color: var(--cor-secundaria);
    border: 1px solid var(--cor-tercearia);
    border-radius: 20px;
    color: var(--cor-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    height: 67px;
    width: 100%;
    cursor: pointer;
}

.rodape {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    padding: 24px;
    text-align: center;
    font-family: var(--fonte-primaria);
    font-size: 1.32rem;
    font-weight: 600;
    width: 100%;
}

.rodape__links__navegacao {
    display: contents;
    justify-content: center;
    gap: 16px;
    align-items: center;   
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    font-weight: 400;
    padding: 21.5px 0;
    color: var(--cor-secundaria);
    width: 50%;
}

@media (min-width: 834px) {
    .conteudo__inicial{
        width: auto;
    }

    .conteudo__resposta{
        width: auto;
        }
    
    .rodape{
        width: auto;
        }
}


@media (max-width: 1100px) {
    main{
        flex-direction: column;
        padding: 7%;    
    }

    .conteudo__inicial{
    width: auto;
    }

    .conteudo__resposta{
    width: auto;
    }
    .rodape{
        width: auto;

    }
}